.item-1{
    background-color: aqua;
}
.item-2 {
    background-color: blue;
}
.item-3{
    background-color: green;
}
.item-4 {
    background-color: red;
}
.item-5 { 
    background-color: yellow;
}
.item-6 {
    background-color: purple;
}
.item-7 {
    background-color: orange;
}
.item-8 {
    background-color: pink;
}
